.croissant-history {
  text-align: center;
}
.croissant-heading {
  color: teal;
}

h1 {
  text-align: center;
}

body {
  background-color: rgb(189, 128, 189);
}

footer {
  text-align: center;
}

footer a {
  color: white;
}
